<nav id="SectionNav">
    <div class="nav">
        <a id="SectionNav-@(nameof(LNbankNavPages.AdminWallets))" class="nav-link @ViewData.IsActivePage(LNbankNavPages.AdminWallets)" asp-page="/Admin/Index">Wallets</a>
        <a id="SectionNav-@(nameof(LNbankNavPages.AdminBulkCreate))" class="nav-link @ViewData.IsActivePage(LNbankNavPages.AdminBulkCreate)" asp-page="/Admin/BulkCreate">Bulk Create</a>
        <a id="SectionNav-@(nameof(LNbankNavPages.AdminBoltCards))" class="nav-link @ViewData.IsActivePage(LNbankNavPages.AdminBoltCards)" asp-page="/Admin/BoltCards">Bolt Cards</a>
    </div>
</nav>
