@using BTCPayServer.Plugins.LNbank.Authentication

<div class="form-check form-group" permission="@LNbankPolicies.CanManageLNbank">
    <input class="form-check-input" type="checkbox" value="true" id="LNbank-ShowDeleted" name="lnbank-show-deleted">
    <label class="form-check-label" for="LNbank-ShowDeleted">Show deleted</label>
</div>
