@page "/plugins/lnbank/wallets/{walletId}/delete"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DeleteModel

@{
    ViewData.SetActivePage(LNbankNavPages.WalletSettings, $"Delete \"{Model.CurrentWallet.Name}\"", Model.CurrentWallet.WalletId);
}

<partial name="_WalletHeader" model="Model.CurrentWallet"/>
<partial name="_Nav" model="Model.CurrentWallet"/>

@if (Model.CurrentWallet.HasBalance)
{
    <p>This wallet still has a balance. Please <a asp-page="./Send" asp-route-walletId="@Model.CurrentWallet.WalletId">transfer the funds</a> before deleting it.</p>
}
else
{
    <p>Are you sure you want to delete this wallet?</p>

    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" id="LNbank-Delete" />
    </form>
}

