@page "/plugins/lnbank/lnurl/{walletId}"
@inject LNURLService LNURLService;
@using BTCPayServer.Plugins.LNbank.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.ShareLNURLModel

@{
    Layout = "_LayoutSimple";
    ViewData.SetActivePage(LNbankNavPages.Share, Model.Wallet.Name, Model.Wallet.WalletId);
    var lnurlBech32 = LNURLService.GetLNURLPayForWallet(Request, Model.Wallet.WalletId, true);
    var lnurlUri = LNURLService.GetLNURLPayForWallet(Request, Model.Wallet.WalletId, false);
}

@section PageHeadContent {
    <partial name="_LayoutLNbankHead" />
}

@section PageFootContent {
    <partial name="_LayoutLNbankFoot" />
}

<main role="main" class="pb-3">
    <div class="row justify-content-center mb-2">
        <div class="col text-center">
            <a asp-controller="UIHome" asp-action="Index" tabindex="-1">
                <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
            </a>
            <h1 class="h2 mb-3">LNbank</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col text-center">
            <h2 id="LNbank-TransactionTitle">@ViewData["Title"]</h2>
            <div class="payment-box my-4">
                <div class="qr-container" data-clipboard="@lnurlBech32" id="LNbank-QRContainer">
                    @await Component.InvokeAsync("QRCode", new { data = $"lightning:{lnurlBech32.ToUpperInvariant()}" })
                </div>
                <div class="input-group mt-3">
                    <div class="form-floating">
                        <input id="LNbank-LNURL-Bech32" class="form-control-plaintext" readonly="readonly" value="@lnurlBech32">
                        <label for="LNbank-LNURL-Bech32">LNURL (Bech 32)</label>
                    </div>
                    <button type="button" class="btn btn-link" data-clipboard-target="#LNbank-LNURL-Bech32">
                        @await Component.InvokeAsync("Icon", new { symbol = "copy" })
                    </button>
                </div>
                <div class="input-group mt-3">
                    <div class="form-floating">
                        <input id="LNbank-LNURL-URI" class="form-control-plaintext" readonly="readonly" value="@lnurlUri">
                        <label for="LNbank-LNURL-URI">LNURL (URI)</label>
                    </div>
                    <button type="button" class="btn btn-link" data-clipboard-target="#LNbank-LNURL-URI">
                        @await Component.InvokeAsync("Icon", new { symbol = "copy" })
                    </button>
                </div>
                <a class="btn btn-primary rounded-pill w-100 mt-4" target="_top" id="LNbank-PayInWallet"
                   href="lightning:@lnurlBech32">Pay in wallet</a>
            </div>
        </div>
    </div>
</main>


